.Nav>h3{
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  display: inline;
  padding: 18px;
}
.Nav {
    background-color:#333;
    color: aliceblue;
    text-align: left;
    padding: 20px;
    position: sticky;
    top :0px;
    width: 100% ;
}
.Nav>a{
  color: aliceblue;
  font-family: "DM Sans", sans-serif;
  padding: 20px;
}
#Bimg{
  height: 300px;
  background-image: url(Gradient.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
}
#Bimg>h1{
  padding: 20px;;
  text-align: center;
  color: white;
  font-family: "DM Sans", sans-serif;
}
#content{
  height : 980px;
}

p{
  /* background-color: rgb(225, 252, 255); */
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 14px;
  line-height: 30px;
  }
  footer{
    background-color: #333;
    position:static;
    bottom: 2px;
    width: 100%;
    text-align: center;
    padding:15px;
  }
#footLink{
    color: aliceblue;
    text-align: center;
    padding: 15px;
    margin: auto;
    
}


